Source: ros-indigo-schunk-canopen-driver
Section: misc
Priority: extra
Maintainer: Felix Mauch <heppner@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-controller-manager, ros-indigo-fzi-icl-can, ros-indigo-fzi-icl-core, ros-indigo-hardware-interface, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-schunk-canopen-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-controller-manager, ros-indigo-fzi-icl-can, ros-indigo-fzi-icl-core, ros-indigo-hardware-interface, ros-indigo-message-runtime, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Description: The schunk_canopen_driver package
